/* $dark-0: #D9D9D9;
$dark-1: #A6A6A6;
$dark-2: #595959;
$dark-3:#404040;
$dark-4:#262626;

$contrast-0: #B379D9;
$contrast-1: #482973;
$contrast-2:#704BBF; */
.whole_page {
    overflow: auto;
}

body {
    font-family: sans-serif;
    color: black;
    background-color: #D9D9D9;
}

.step-checker {
    position: absolute;
    left: 700px;
    width: 50%;
}

.step {
    cursor: pointer;
    margin-bottom: 10px;
}

.check-mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
}

.card {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 50%;
}

.user_header {
    position: absolute;
    top: 60px;
    left: 70px;
    font-weight: bold;
    font-size: medium;
}


.quick-entry-form {
    width: 50%;
}
