/* $dark-0: #D9D9D9;
$dark-1: #A6A6A6;
$dark-2: #595959;
$dark-3:#404040;
$dark-4:#262626;

$contrast-0: #B379D9;
$contrast-1: #482973;
$contrast-2:#704BBF; */
.whole_page {
    overflow: auto;
}

body {
    font-family: sans-serif;
    color: black;
    background-color: #D9D9D9;
}

.step-checker {
    position: absolute;
    left: calc(50% + 70px); 
    width: 50%;
    top: 120px; 
}

.streak-box {
    border: 5px solid #4B0082; 
    background-color: #E6E6FA; 
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 120px; 
    left: 80px;
    width: calc(100% - 150px); 
    height: 80px;
    box-sizing: border-box; 
    font-size: 24px;
    font-weight: bolder;
    color: #4B0082
}

.streak-text {
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    left: 80px; /* Position towards the left */
}


.fire-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.step {
    cursor: pointer;
    margin-bottom: 10px;
}

.check-mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
}

.card {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 50%;
}

.user_header {
    position: absolute;
    top: 60px;
    left: 70px;
    font-weight: bold;
    font-size: medium;
}

.quick-entry-form {
    position: absolute;
    width: calc(110% - 170px); /* Adjust width to make it wider */
    top: 120px;
    left: 60px;
}
.user-warning-card {
    position: absolute;
    top: 390px; 
    left: 730px; 
    width: calc(50% - 100px); 
    margin: 0;
}
