.nav-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    transition: transform 0.3s;
    z-index: 1000;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.05);
  }
  
  .nav-mobile ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-mobile li {
    flex: 1;
  }
  
  .nav-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-top: 2px solid transparent;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .nav-mobile a svg {
    transition: fill 0.3s;
  }
  
  .nav-mobile li.active a,
  .nav-mobile a:hover {
    color: black;
    border-color: currentColor;
  }
  
  .nav-mobile li.active svg,
  .nav-mobile a:hover svg {
    fill: black;
  }
  
  @media (max-width: 600px) {
    .nav-mobile a {
      font-size: 14px;
      padding: 5px;
    }
  }
  
  @media (max-width: 450px) {
    .nav-mobile a {
      font-size: 14px;
    }
  }

  .nav__text {
    color: #704BBF; /* Change the color to black */
  }
  
  /* Additional styles for scroll behavior */
  .scroll-down .nav-mobile {
    transform: translate3d(0, 100%, 0);
  }
  
  .scroll-up .nav-mobile {
    transform: none;
  }
  .nav__icon {
    width: 35px; /* Adjust the icon width as needed */
    height: 35px; /* Adjust the icon height as needed */
  }
  