{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Visualizations</title>
</head>
<body>
  <br>
  <h2>Visualizations</h2>
    <!-- Line Chart: Mood Trajectory -->
    <div class="data_card">
        <div class="data-card-header">Mood Trajectory</div>
        <div class="card-body">
            <canvas id="moodChart" width="30" height="10"></canvas>
        </div>
    </div>

    <!-- Pie Chart: Mood Tags -->
    <div class="data_card">
        <div class="data-card-header">Mood Tags</div>
        <div class="data-card-body" id="moodTagsCheckboxes"></div>
        <div class="data-card-body">
            <canvas id="moodTagsChart" width="30" height="10"></canvas>
        </div>
    </div>

    <!-- Bar Chart: Tags Count -->
    <div class="data_card">
        <div class="data-card-header">Tags Count</div>
        <div class="data-card-body">
            <canvas id="tagsChart" width="20" height="10"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Load data from Flask into JavaScript variables
      var moodData = {{ mood_data | tojson | safe }};
      var moodTagsData = {{ mood_tags_data | tojson | safe }};
      var tagsPercentage = {{ tags_percentage | tojson | safe }};
      var tagsCount = {{ tags_count | tojson | safe }};

      // Function to create a line chart
      function createLineChart(ctx, data, options) {
        return new Chart(ctx, {
          type: "line",
          data: {
            labels: data.map(entry => entry.date),
            datasets: [
              {
                label: "Mood Scores",
                data: data.map(entry => entry.mood),
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 2,
                fill: false,
              },
            ],
          },
          options: options,
        });
      }

       // Function to create a pie chart for Mood Tags with percentages
    function createMoodTagsPieChart(ctx, data) {
      var moodTagsMap = {}; // Map to store unique tags count for each date

      data.forEach(entry => {
          var date = entry.date;
          var tags = entry.moodTags.split(', ');

          // Count unique tags for each date
          moodTagsMap[date] = moodTagsMap[date] || {};
          
          tags.forEach(tag => {
              moodTagsMap[date][tag] = (moodTagsMap[date][tag] || 0) + 1;
          });
      });

      var moodTagsLabels = [];
      var moodTagsData = [];

      Object.keys(moodTagsMap).forEach(date => {
          var tagsCountMap = moodTagsMap[date];
          var totalTagsCount = Object.values(tagsCountMap).reduce((acc, count) => acc + count, 0);

          Object.keys(tagsCountMap).forEach(tag => {
              var percentage = (tagsCountMap[tag] / totalTagsCount) * 100;
              moodTagsLabels.push(tag);
              moodTagsData.push(percentage);
          });
      });

      return new Chart(ctx, {
          type: "pie",
          data: {
              labels: moodTagsLabels,
              datasets: [
                  {
                      data: moodTagsData,
                      backgroundColor: [
                          "rgba(255, 99, 132, 0.8)",
                          "rgba(54, 162, 235, 0.8)",
                          "rgba(255, 206, 86, 0.8)",
                          "rgba(75, 192, 192, 0.8)",
                          "rgba(153, 102, 255, 0.8)",
                      ],
                  },
              ],
          },
      });
  }

      // Function to create a bar chart
      function createBarChart(ctx, data) {
        var labels = Object.keys(data);
        var values = Object.values(data);

        return new Chart(ctx, {
          type: "bar",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Tags Count",
                data: values,
                backgroundColor: "rgba(75, 192, 192, 0.8)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      }

      // Create your charts using the functions
      var ctxMood = document.getElementById("moodChart").getContext("2d");
      createLineChart(ctxMood, moodData, {
        scales: {
          y: {
            beginAtZero: true,
            max: 10,
          },
        },
      });

      // Create the Mood Tags pie chart
    var ctxMoodTags = document.getElementById("moodTagsChart").getContext("2d");
    createMoodTagsPieChart(ctxMoodTags, moodTagsData);


      var ctxTags = document.getElementById("tagsChart").getContext("2d");
      createBarChart(ctxTags, tagsCount);
    </script>
</body>
</html>
{% endblock %}