<!DOCTYPE html>
<html>
<head>
    <title>Inside the Spectrum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">

</head>
<body>
    <div class="content">
        <h1>Inside the Spectrum</h1> 
        <h3>A Well-Being and Sensory Journal</h3>
        <p>A tool to record events, schedule tasks, and record data with a goal to assist individuals/support systems of individuals with ASD</p>
        <div class="buttons">
            <div class="button-wrapper">
                <a href="{{ url_for('auth.login') }}"><button class="login-btn">Login</button></a>
            </div>
            <div class="button-wrapper">
                <a href="{{ url_for('auth.sign_up') }}"><button class="signup-btn">Sign Up</button></a>
            </div>
        </div>
    </div>
</body>
</html>




































































































