{% extends "base.html" %}
{% block content %}
<head>
<title>Profile</title>
</head>
<div class="profile-container">
    <div class="profile-section">
        <div class="card">
            <div class="card-header">
                <h2>Change Password</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('views.profile') }}">
                    <label for="old_password">Old Password:</label>
                    <input type="password" name="old_password" required><br>
                    <label for="new_password">New Password:</label>
                    <input type="password" name="new_password" required><br>
                    <label for="confirm_password">Confirm New Password:</label>
                    <input type="password" name="confirm_password" required><br>
                    <button type="submit" name="change_password">Change Password</button>
                </form>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <div class="card">
            <div class="card-header">
                <h2>Change Email</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('views.profile') }}">
                    <label for="new_email">New Email:</label>
                    <input type="email" name="new_email" required><br>

                    <button type="submit" name="change_email">Change Email</button>
                </form>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <div class="card">
            <div class="card-header">
                <h2>Change First Name</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('views.profile') }}">
                    <label for="new_first_name">New First Name:</label>
                    <input type="text" name="new_first_name" required><br>

                    <button type="submit" name="change_first_name">Change First Name</button>
                </form>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <div class="card">
            <div class="card-header">
                <h2>Delete Account</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('views.profile') }}">
                    <p>Are you sure you want to delete your account?</p>
                    <button type="submit" name="delete_account">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
    <div class="profile-section">
        <div class="card">
            <div class="card-header">
                <h2>Log Out</h2>
            </div>
            <div class="card-body">
                <form method="get" action="{{ url_for('auth.logout') }}">
                    <p>Do you wish to logout of your account?</p>
                    <button type="submit" name="delete_account">Log Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
